{% extends 'base.html.twig' %}

{% block title %}{{ 'title.error'|trans }}{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
  <h1>{{ 'error.three'|trans }}</h1>
  <p><a href="{{ path('product') }}">{{ 'error.back'|trans }}</a></p>
</div>
{% endblock %}