{% extends 'base.html.twig' %}

{% block title %}An error occured.{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
  <h1> An error occured. </h1>
  <p><a href="{{ path('products') }}">Go back to the home page.</a></p>
</div>
{% endblock %}
